/* Colors */
/* Rainy theme 5 -Green Digitalization Course and Students Apps-:
Navbar (background): #8bbbd9
Navbar (a hover): #466fa6
Navbar (logo): #568c63
Navbar (a menu): #2a4359
*/


/* Google fonts Roboto  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

/* CSS utilities */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  line-height: 1.6;
}
.container {
  margin: auto;
  max-width: 1320px;
}
ul { 
  list-style: none;
  font-size: 400;
}
a {
  color: #333;
  text-decoration: none;
}
h1, h2 {
  font-weight: 400;
  line-height: 1.2;
}
p {
  margin: 10px 0;
  font-size: 14px;
}
img {
  width: 100%;
}
/* Navbar  */
.section_carbon_app_navbar {
  background-color: #e8e6df;
}
.carbon_app_navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  background-color: #e8e6df;
  padding: 0 0px;
}
/* Navbar mid and right adjustment */
.carbon_app_navbar nav {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}
.carbon_app_navbar a {
  color: #14532d;
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 20px;
  text-decoration: none;
}
.carbon_app_navbar a:hover{
  border-bottom: #14532d 4px solid;
}
.carbon_app_navbar ul {
  display: flex;
  flex-direction: row;
}
.carbon_app_navbar .logo {
  color: white;          /* color of "Route" */
  font-size: 35px;       /* size of whole logo */
  font-weight: 700;
  letter-spacing: 1px;   /* spacing between letters */
  font-family: 'Arial';  
}
.carbon_app_navbar .logo a {
  color: white;
  text-decoration: none;
  display: flex;        
  align-items: center;
  font-size: inherit;
}

.carbon_app_navbar .logo a:hover {
  border-bottom: none !important;
  color: white;
}

.nav-center {
  justify-content: center;
  flex: 1; /* takes up remaining space so it stays centered */
}

.nav-right {
  justify-content: flex-end;
}

.text-logo {
  color: #14532d;
}

.logout-btn {
  background-color: #e8e6df;
  color: #ffffff;
  border: 2px solid #14532d;
  border-radius: 8px;
  padding: 8px 16px ;
  font-weight: 600;
}

.logout-btn:hover {
  background-color: #14532d ;
  color: #ffffff ;
}

/* Footer  */
.section_footer{
  background-color:#e8e6df;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70px;
  align-items: center;
  background-color: #e8e6df;
  padding: 0 0px;
}




/* Media query */
@media(max-width:768px){
  .carbon_app_navbar {
    height: 180px;
    flex-direction: column;
  }
  .carbon_app_navbar a {
    font-size: 15px;
    padding: 5px 20px;
  }
  .carbon_app_navbar ul {
    display: flex;
    flex-direction: column;
  }
  .carbon_app_navbar a:hover{
    color: #14532d;
    border-bottom: #14532d 2px solid;
  }
}