{% extends "layout.html" %}
{% block content %}

<!-- Header -->
<section class="section_header_home">
  <div class="container">

    <div class="header_home">
      <div class="box"> 
        <h1 class="home-title"><span class="text-logo"> Home</span></h1>
        <p style="text-align:left;">
            Welcome to our website! We are a team of economists and developers who have come together to create a platform that provides valuable insights and tools for economic analysis. Our goal is to make economic data and analysis accessible to everyone, regardless of their background or expertise. Whether you are a student, researcher, or simply interested in economics, we hope that our website will be a valuable resource for you. Thank you for visiting, and we look forward to sharing our work with you!
        </p>
        <div class="container_buttons_links_header_home">
          <div class="btn">
              <a href="{{url_for('users.register')}}" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Register</a>
          </div>
          <div class="btn">
              <a href="{{url_for('users.login')}}" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Login</a>
          </div>
        </div>  
      </div>
      <div class="box">
        <img 
          src="{{url_for('static', filename='/icons/tree-stump-svgrepo-com.svg')}}"
          width="325" 
          height="325"
          alt=""/>
      </div>
    </div>

  </div>
</section> 

<!-- Developers -->
<section class="section_developers">
  <div class="container">
    <br>
    <div class="developers" style="display:block;">
      <h1 style="text-align:center;"> About Us</h1>
      <p>
        Our team of economists and developers ... Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, ut? Praesentium quidem sunt perspiciatis doloremque fugiat nesciunt quaerat ullam, pariatur iure unde ratione ipsum adipisci repellendus, repudiandae hic sit, temporibus molestias corrupti aut soluta sequi! Architecto deleniti expedita nisi repudiandae enim eum quas odit facilis placeat neque porro, animi incidunt consectetur. Maiores ab saepe tempora, iure asperiores beatae suscipit cum ipsum, rerum doloremque reprehenderit dolorum debitis, aliquam quasi. Maiores corporis fuga quasi nesciunt dolor iste, inventore necessitatibus unde!
      </p>      
    </div>

    <div class="developers">
        <div class="box">
          <img src="https://randomuser.me/api/portraits/men/99.jpg" alt="" style="border-radius: 50%; width:200px;">
          <h3>Amalie</h3>
          <p>  NHH Student
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
          </div> 
        </div>
        <div class="box">
          <img src="https://randomuser.me/api/portraits/men/50.jpg" alt="" style="border-radius: 50%; width:200px;">
          <h3>Mathea</h3>
          <p>  NHH Student
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
          </div> 
        </div>           
        <div class="box">
          <img src="https://randomuser.me/api/portraits/men/69.jpg" alt="" style="border-radius: 50%; width:200px;">
          <h3>Paule</h3>
          <p>  Bilbao Student
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
          </div> 
        </div>     
    </div>

    <div class="developers">
      <div class="box2">
        <img src="https://randomuser.me/api/portraits/women/88.jpg" alt="" style="border-radius: 50%; width:200px;">
        <h3>Ignacio</h3>
        <p>  Bilibao Student
        </p>
        <div class="section_container_buttons_developers">
          <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
        </div> 
      </div>
      <div class="box2">
        <img src="https://randomuser.me/api/portraits/women/69.jpg" alt="" style="border-radius: 50%; width:200px;">
        <h3>Elias</h3>
        <p>  Toulouse Student
        </p>
        <div class="section_container_buttons_developers">
          <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
        </div> 
      </div>           
      <div class="box2">
        <img src="https://randomuser.me/api/portraits/women/1.jpg" alt="" style="border-radius: 50%; width:200px;">
        <h3>Maxime</h3>
        <p>  Swiss Student
        </p>
        <div class="section_container_buttons_developers">
          <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
        </div> 
      </div>     
  </div>

  </div>          
</section>
        
{% endblock content %}